.header {
  height: 4vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #e10600;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 101;
}
  
.header .links-box {
  display: flex;
}

.f1Logo {
  margin-left: 1rem;
  height: 50%;
}

.links-box{
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  margin-right: 10%;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  color: white;
  text-decoration: none;
  text-align: center;
  align-items: center;
}

.link:hover{
  background-color: black;
}

.subnav {
    float: left;
    overflow: hidden;
}
  
.subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.header Link:hover, .subnav:hover .subnavbtn {
    background-color: rgb(0, 0, 0);
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    z-index: 1;
}

.subnav-content Link {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: rgb(5, 5, 5);
    color: rgb(255, 255, 255);
}

.subnav:hover .subnav-content {
    display: block;
}
