.lastRace {
    font-family: F1Black;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-top: 10px;
    text-transform: uppercase;
  }
  
.year{
  font-family: F1Wide;
  font-size: 12px ;
  }

.city{
  font-family: F1Regular;
  font-size: 10px;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
}

.columns{
  margin-right: 0.5rem;
  padding: 0.25rem;
}