.body{
    display: flex;
    justify-content: center;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}

.columnsDriverStandings{
    margin-right: 2rem ;
    padding: 0.25%;
    white-space: nowrap;
    width: 650px;

}

.tableDriverStandings{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 190px;
    width: 550px;
    margin: 0; 
    padding: 10px;
    border-radius: 10px;
    background-color: #f3f3f3;
  }