.header {
  width: 100%;
  background: #e10600;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 101;
}

.f1Logo {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  justify-content: flex-start;
  width: 10%;
  height: 15%;
  padding: 0%;
  margin: 0%;
}
