.body{
    display: flex;
    justify-content: center;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}

.columnsConstructor{
    margin-right:2rem;
    padding: 0.25rem;
    white-space: nowrap;
    width: 500px;
}


.tableConstrucStandings{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 190px;
    width: 450px;
    margin: 0; 
    padding: 10px;
    border-radius: 10px;
    background-color: #f3f3f3;
  }